# Environments
.venv/

# Editors / IDEs
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Notebooks
.ipynb_checkpoints/

# Secrets / environment
.env
.env.*

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
